.venv/
framework/__pycache__/

framework/utils/__pycache__/

framework/shapes/cars/__pycache__/

project/__pycache__/

framework/shapes/__pycache__/

framework/objects/__pycache__/

framework/materials/__pycache__/__init__.cpython-311.pyc

framework/materials/__pycache__/

framework/objects/__pycache__/

exercises/__pycache__/

framework/materials/__pycache__/
